@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.letter {
    max-width: 400px;
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    position: relative;
}

.letter__background, .letter__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    display: flex;
    transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: rotateY(0deg) translateZ(1px) scaleX(1);
    transform-origin: right 0%;
    backface-visibility: visible;
    transform-style: preserve-3d;
}

.letter__background {
    background-color: #FAF7F4;
    z-index: 5;
}

.background__animation {
    animation: bottom-flip 2s cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-fill-mode: forwards;
}

.letter__container {
    justify-content: flex-end;
    background-color: #EDEDED;
    z-index: 10;
     box-shadow: rgba(0, 0, 0, 0.388) 0px 4px 6px -1px, rgba(0, 0, 0, 0.229) 0px 2px 4px -1px;
}

.foreground__animation {
    animation: right-flip 2s cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-fill-mode: forwards;
}

.front__face {
    background-image: url("../images/portada.png");
    background-repeat: no-repeat;
    width: 90%;
    height: 80vh;
    background-size: 100%;
    background-position: center center;
}

@keyframes right-flip {
    0% {
        transform: rotateY(0deg) translateZ(1px);
    }
    100% {
        transform: rotateY(180deg) scaleX(1.05) translateZ(1px);
    }
}

@keyframes bottom-flip {
    0% {
        transform: rotateY(0deg) translateZ(1px);
        z-index: 5;
    }
    50% {
        z-index: 5;
    }
    51% {
        z-index: 15;
    }
    100% {
        transform: rotateY(180deg) scaleX(1.05) translateZ(1px);
        z-index: 15;
    }
}

.sealing {
    width: 100%;
    height: 48px;
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY(-50%);
    background-color: #D1C3AB;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.name__tag {
    width: 100%;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #D1C3AB;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Great Vibes', cursive;
    font-size: 18px;
    text-align: right;
}

.name__tag-font {
    margin: 0;
    padding: 5px 5px 0 0;
}

.sealed {
    position: absolute;
    top: 45%;
    left: 3%;
    transform: translateY(-50%);
    border-radius: 50px;
    width: 80px;
    height: 80px;
    animation: pulse-animation-top 2s infinite;
}

.sealed__stamp {
    background-image: url("../images/seal-stamp.png");
    background-repeat: no-repeat;
    width: 103px;
    height: 103px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 80vh;
}

.letter__invitation-first {
    background-image: url("../images/first.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    background-size: auto 100%;
    background-position: center center;
    box-shadow: rgba(0, 0, 0, 0.388) 0px 4px 6px -1px, rgba(0, 0, 0, 0.229) 0px 2px 4px -1px;
    transform: rotateY(0deg);
}

.letter__invitation-first-online {
    background-image: url("../images/first-online.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    background-size: auto 100%;
    background-position: center center;
    box-shadow: rgba(0, 0, 0, 0.388) 0px 4px 6px -1px, rgba(0, 0, 0, 0.229) 0px 2px 4px -1px;
    transform: rotateY(0deg);
}

.letter__invitation-second {
    background-image: url("../images/second.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    background-size: auto 100%;
    background-position: center center;
    box-shadow: rgba(0, 0, 0, 0.388) 0px 4px 6px -1px, rgba(0, 0, 0, 0.229) 0px 2px 4px -1px;
    transform: rotateY(-180deg);
}

.letter__invitation-first, .letter__invitation-second {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.flipped {
    transform: rotateY(-180deg);
}

.letter__tapme {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    fill: #c3ac94;
    border-radius: 50px;
    transition: 1s;
}

.letter__tapme:after {
    content: 'Siguiente';
    font-size: 8px;
    color: rgb(162, 144, 118)
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(162, 144, 118, 0.2);
    }
    100% {
      box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
}

@keyframes pulse-animation-top {
    0% {
      box-shadow: 0 0 0 0px rgba(162, 144, 118, 0.2);
    }
    100% {
      box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
    }
}

.pass {
    width: 100%;
    padding: 5px 0;
    border-radius: 3px;
    font-size: 9px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    color: #86672C;
    text-transform: uppercase;
    letter-spacing: 1px;
}




